XSD/Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Schema"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:attribute name="id" type="id"/>
  <xs:attribute name="lang" type="xs:language"/>

  <xs:simpleType name="id">
    <xs:restriction base="xs:Name"/>
  </xs:simpleType>

  <xs:complexType name="Name">
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute ref="lang" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Description">
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute ref="lang" use="optional"/>
        <xs:attribute name="type" type="DescriptionType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="DescriptionType">
    <xs:restriction base="xs:Name">
      <xs:enumeration value="text"/>
      <xs:enumeration value="html"/>
      <xs:enumeration value="markdown"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="Catalog">
    <xs:sequence>
      <xs:element name="Definition" type="Definition"/>
      <xs:element name="Items" type="ItemCollection"/>
      <xs:element name="Products" type="ProductCollection"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PriceList">
    <xs:sequence>
      <xs:element name="Item" type="PriceListItem"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PriceListItem">
    <xs:sequence>
      <xs:element name="Prices" type="PriceCollection" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute ref="id" use="required"/>
  </xs:complexType>

  <xs:complexType name="PriceCollection">
    <xs:sequence>
      <xs:element name="Price" type="Price" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Price">
    <xs:sequence>
      <xs:element name="SellingPrice" minOccurs="1" maxOccurs="1" type="PriceValue"/>
      <xs:element name="SuggestedPrice" minOccurs="0" maxOccurs="1" type="PriceValue"/>
      <xs:element name="PreviousPrice" minOccurs="0" maxOccurs="1" type="PriceValue"/>
    </xs:sequence>
    <xs:attribute name="currency" type="Currencies" use="required"/>
  </xs:complexType>

  <xs:simpleType name="Currencies">
    <xs:restriction base="xs:token">
      <xs:enumeration value="AED"/>
      <xs:enumeration value="AFN"/>
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="AMD"/>
      <xs:enumeration value="ANG"/>
      <xs:enumeration value="AOA"/>
      <xs:enumeration value="ARS"/>
      <xs:enumeration value="AUD"/>
      <xs:enumeration value="AWG"/>
      <xs:enumeration value="AZN"/>
      <xs:enumeration value="BAM"/>
      <xs:enumeration value="BBD"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BGN"/>
      <xs:enumeration value="BHD"/>
      <xs:enumeration value="BIF"/>
      <xs:enumeration value="BMD"/>
      <xs:enumeration value="BND"/>
      <xs:enumeration value="BOB"/>
      <xs:enumeration value="BRL"/>
      <xs:enumeration value="BSD"/>
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="BWP"/>
      <xs:enumeration value="BYR"/>
      <xs:enumeration value="BZD"/>
      <xs:enumeration value="CAD"/>
      <xs:enumeration value="CDF"/>
      <xs:enumeration value="CHF"/>
      <xs:enumeration value="CLP"/>
      <xs:enumeration value="CNY"/>
      <xs:enumeration value="COP"/>
      <xs:enumeration value="CRC"/>
      <xs:enumeration value="CUC"/>
      <xs:enumeration value="CUP"/>
      <xs:enumeration value="CVE"/>
      <xs:enumeration value="CZK"/>
      <xs:enumeration value="DJF"/>
      <xs:enumeration value="DKK"/>
      <xs:enumeration value="DOP"/>
      <xs:enumeration value="DZD"/>
      <xs:enumeration value="EGP"/>
      <xs:enumeration value="ERN"/>
      <xs:enumeration value="ETB"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="FJD"/>
      <xs:enumeration value="FKP"/>
      <xs:enumeration value="GBP"/>
      <xs:enumeration value="GEL"/>
      <xs:enumeration value="GGP"/>
      <xs:enumeration value="GHS"/>
      <xs:enumeration value="GIP"/>
      <xs:enumeration value="GMD"/>
      <xs:enumeration value="GNF"/>
      <xs:enumeration value="GTQ"/>
      <xs:enumeration value="GYD"/>
      <xs:enumeration value="HKD"/>
      <xs:enumeration value="HNL"/>
      <xs:enumeration value="HRK"/>
      <xs:enumeration value="HTG"/>
      <xs:enumeration value="HUF"/>
      <xs:enumeration value="IDR"/>
      <xs:enumeration value="ILS"/>
      <xs:enumeration value="IMP"/>
      <xs:enumeration value="INR"/>
      <xs:enumeration value="IQD"/>
      <xs:enumeration value="IRR"/>
      <xs:enumeration value="ISK"/>
      <xs:enumeration value="JEP"/>
      <xs:enumeration value="JMD"/>
      <xs:enumeration value="JOD"/>
      <xs:enumeration value="JPY"/>
      <xs:enumeration value="KES"/>
      <xs:enumeration value="KGS"/>
      <xs:enumeration value="KHR"/>
      <xs:enumeration value="KMF"/>
      <xs:enumeration value="KPW"/>
      <xs:enumeration value="KRW"/>
      <xs:enumeration value="KWD"/>
      <xs:enumeration value="KYD"/>
      <xs:enumeration value="KZT"/>
      <xs:enumeration value="LAK"/>
      <xs:enumeration value="LBP"/>
      <xs:enumeration value="LKR"/>
      <xs:enumeration value="LRD"/>
      <xs:enumeration value="LSL"/>
      <xs:enumeration value="LTL"/>
      <xs:enumeration value="LYD"/>
      <xs:enumeration value="MAD"/>
      <xs:enumeration value="MDL"/>
      <xs:enumeration value="MGA"/>
      <xs:enumeration value="MKD"/>
      <xs:enumeration value="MMK"/>
      <xs:enumeration value="MNT"/>
      <xs:enumeration value="MOP"/>
      <xs:enumeration value="MRO"/>
      <xs:enumeration value="MUR"/>
      <xs:enumeration value="MVR"/>
      <xs:enumeration value="MWK"/>
      <xs:enumeration value="MXN"/>
      <xs:enumeration value="MYR"/>
      <xs:enumeration value="MZN"/>
      <xs:enumeration value="NAD"/>
      <xs:enumeration value="NGN"/>
      <xs:enumeration value="NIO"/>
      <xs:enumeration value="NOK"/>
      <xs:enumeration value="NPR"/>
      <xs:enumeration value="NZD"/>
      <xs:enumeration value="OMR"/>
      <xs:enumeration value="PAB"/>
      <xs:enumeration value="PEN"/>
      <xs:enumeration value="PGK"/>
      <xs:enumeration value="PHP"/>
      <xs:enumeration value="PKR"/>
      <xs:enumeration value="PLN"/>
      <xs:enumeration value="PYG"/>
      <xs:enumeration value="QAR"/>
      <xs:enumeration value="RON"/>
      <xs:enumeration value="RSD"/>
      <xs:enumeration value="RUB"/>
      <xs:enumeration value="RWF"/>
      <xs:enumeration value="SAR"/>
      <xs:enumeration value="SBD"/>
      <xs:enumeration value="SCR"/>
      <xs:enumeration value="SDG"/>
      <xs:enumeration value="SEK"/>
      <xs:enumeration value="SGD"/>
      <xs:enumeration value="SHP"/>
      <xs:enumeration value="SLL"/>
      <xs:enumeration value="SOS"/>
      <xs:enumeration value="SPL"/>
      <xs:enumeration value="SRD"/>
      <xs:enumeration value="STD"/>
      <xs:enumeration value="SVC"/>
      <xs:enumeration value="SYP"/>
      <xs:enumeration value="SZL"/>
      <xs:enumeration value="THB"/>
      <xs:enumeration value="TJS"/>
      <xs:enumeration value="TMT"/>
      <xs:enumeration value="TND"/>
      <xs:enumeration value="TOP"/>
      <xs:enumeration value="TRY"/>
      <xs:enumeration value="TTD"/>
      <xs:enumeration value="TVD"/>
      <xs:enumeration value="TWD"/>
      <xs:enumeration value="TZS"/>
      <xs:enumeration value="UAH"/>
      <xs:enumeration value="UGX"/>
      <xs:enumeration value="USD"/>
      <xs:enumeration value="UYU"/>
      <xs:enumeration value="UZS"/>
      <xs:enumeration value="VEF"/>
      <xs:enumeration value="VND"/>
      <xs:enumeration value="VUV"/>
      <xs:enumeration value="WST"/>
      <xs:enumeration value="XAF"/>
      <xs:enumeration value="XCD"/>
      <xs:enumeration value="XDR"/>
      <xs:enumeration value="XOF"/>
      <xs:enumeration value="XPF"/>
      <xs:enumeration value="YER"/>
      <xs:enumeration value="ZAR"/>
      <xs:enumeration value="ZMW"/>
      <xs:enumeration value="ZWD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PriceValue">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>

  <xs:complexType name="Inventory">
    <xs:sequence>
      <xs:element name="Item" type="InventoryItem" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InventoryItem">
    <xs:sequence>
      <xs:element name="Availability" minOccurs="1" maxOccurs="1" type="Availability"/>
    </xs:sequence>
    <xs:attribute ref="id" use="required"/>
  </xs:complexType>

  <xs:complexType name="Availability">
    <xs:sequence>
      <xs:element name="Active" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Replaceable" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
      <xs:element name="LeadTime" type="xs:unsignedInt" minOccurs="1" maxOccurs="1"/>
      <xs:element name="ReplaceTime" type="xs:unsignedInt" minOccurs="1" maxOccurs="1"/>
      <xs:element name="InStock" type="xs:unsignedInt" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Definition">
    <xs:sequence>
      <xs:element name="Languages" type="LanguageCollection" maxOccurs="1" minOccurs="1"/>
      <xs:element name="ShippingTypes" type="ShippingTypeCollection" maxOccurs="1" minOccurs="1"/>
      <xs:element name="Tags" type="TagCollection" maxOccurs="1"/>
      <xs:element name="Flags" type="FlagCollection" maxOccurs="1"/>
      <xs:element name="Attributes" type="AttributeCollection" maxOccurs="1"/>
      <xs:element name="SellingPoints" type="SellingPointCollection" maxOccurs="1"/>
      <xs:element name="ImageKinds" type="ImageKindCollection" maxOccurs="1" minOccurs="1"/>
      <xs:element name="Images" type="ImageCollection" maxOccurs="1" minOccurs="1"/>
      <xs:element name="VariationDimensions" type="VariationDimensionCollection" maxOccurs="1"/>
    </xs:sequence>  
  </xs:complexType>

  <xs:complexType name="ShippingTypeCollection">
    <xs:sequence>
      <xs:element name="ShippingType" minOccurs="1" maxOccurs="unbounded" type="ShippingType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ShippingType">
    <xs:sequence>
      <xs:element name="ShippingCosts" type="ShippingCostCollection" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Countries" type="CountryCollection" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute ref="id" use="required"/>
  </xs:complexType>

  <xs:complexType name="ShippingCostCollection">
    <xs:sequence>
      <xs:element name="ShippingCost" type="ShippingCost" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ShippingCost">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" type="Currencies" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CountryCollection">
    <xs:sequence>
      <xs:element name="Country" type="Countries" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element name="Item" minOccurs="1" maxOccurs="unbounded" type="Item"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductCollection">
    <xs:sequence>
      <xs:element name="Product" minOccurs="1" maxOccurs="unbounded" type="Product"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LanguageCollection">
    <xs:sequence>
      <xs:element name="Language" type="Language" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="primary" type="xs:language" use="required"/>
  </xs:complexType>

  <xs:complexType name="Language">
    <xs:attribute ref="lang" use="required"/>
  </xs:complexType>

  <xs:complexType name="TagCollection">
    <xs:sequence>
      <xs:element name="Tag" type="Tag" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Tag">
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute ref="id" use="required"/>
        <xs:attribute ref="lang" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="FlagCollection">
    <xs:sequence>
      <xs:element name="Flag" type="Flag" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Flag">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute ref="id"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AttributeCollection">
    <xs:sequence>
      <xs:element name="Attribute" type="Attribute" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Visibilities">
    <xs:restriction base="xs:token">
      <xs:enumeration value="public"/>
      <xs:enumeration value="private"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="Value">
    <xs:sequence>
      <xs:element name="Name" type="Name" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="id" use="required"/>
  </xs:complexType>

  <xs:complexType name="ValueCollection">
    <xs:sequence>
      <xs:element name="Value" type="Value" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Attribute">
    <xs:sequence>
      <xs:element name="Name" type="Name" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="Values" type="ValueCollection" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="visibility" type="Visibilities" default="public"/>
    <xs:attribute ref="id" use="required"/>
  </xs:complexType>

  <xs:complexType name="SellingPointCollection">
    <xs:sequence>
      <xs:element name="SellingPoint" type="SellingPoint" minOccurs="1" maxOccurs="unbounded"/>    
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SellingPoint">
    <xs:sequence>
      <xs:element name="Name" type="Name" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="id"/>
  </xs:complexType>

  <xs:complexType name="ImageKindCollection">
    <xs:sequence>
      <xs:element name="ImageKind" type="ImageKind" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ImageKind">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute ref="id"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ImageCollection">
    <xs:sequence>
      <xs:element name="Image" type="Image" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Image">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute ref="id" use="required"/>
        <xs:attribute name="type" type="ImageSources" use="required"/>
        <xs:attribute name="kind_id" type="id" use="required"/>
        <xs:attribute name="url" type="HTTPURL" use="optional"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="HTTPURL">
    <xs:restriction base="xs:anyURI">
      <xs:pattern value="https?://.*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ImageSources">
    <xs:restriction base="xs:token">
      <xs:enumeration value="url"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="VariationDimensionCollection">
    <xs:sequence>
      <xs:element name="VariationDimension" type="VariationDimension" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VariationDimension">
    <xs:sequence>
      <xs:element name="Name" type="Name" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="Values" type="ValueCollection" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute ref="id" use="required"/>
  </xs:complexType>

  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element name="EAN13" type="EAN13" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Prices" type="PriceCollection" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Availability" type="Availability" minOccurs="1" maxOccurs="1"/>
      
      <xs:element name="Dimensions" type="Dimensions" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Shipping" type="Shipping" minOccurs="1" maxOccurs="1"/>
      
      <xs:element name="Intrastat" type="Intrastat" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute ref="id" use="required"/>
  </xs:complexType>

  <xs:complexType name="Intrastat">
    <xs:sequence>
      <xs:element name="CountryOfOrigin" type="Countries"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Countries">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AF"/>
      <xs:enumeration value="AL"/>
      <xs:enumeration value="DZ"/>
      <xs:enumeration value="AS"/>
      <xs:enumeration value="AD"/>
      <xs:enumeration value="AO"/>
      <xs:enumeration value="AI"/>
      <xs:enumeration value="AQ"/>
      <xs:enumeration value="AG"/>
      <xs:enumeration value="AR"/>

      <xs:enumeration value="AM"/>
      <xs:enumeration value="AW"/>
      <xs:enumeration value="AU"/>
      <xs:enumeration value="AT"/>
      <xs:enumeration value="AZ"/>
      <xs:enumeration value="BS"/>
      <xs:enumeration value="BH"/>
      <xs:enumeration value="BD"/>
      <xs:enumeration value="BB"/>
      <xs:enumeration value="BY"/>

      <xs:enumeration value="BE"/>
      <xs:enumeration value="BZ"/>
      <xs:enumeration value="BJ"/>
      <xs:enumeration value="BM"/>
      <xs:enumeration value="BT"/>
      <xs:enumeration value="BO"/>
      <xs:enumeration value="BA"/>
      <xs:enumeration value="BW"/>
      <xs:enumeration value="BV"/>
      <xs:enumeration value="BR"/>

      <xs:enumeration value="IO"/>
      <xs:enumeration value="BN"/>
      <xs:enumeration value="BG"/>
      <xs:enumeration value="BF"/>
      <xs:enumeration value="BI"/>
      <xs:enumeration value="KH"/>
      <xs:enumeration value="CM"/>
      <xs:enumeration value="CA"/>
      <xs:enumeration value="CV"/>
      <xs:enumeration value="KY"/>

      <xs:enumeration value="CF"/>
      <xs:enumeration value="TD"/>
      <xs:enumeration value="CL"/>
      <xs:enumeration value="CN"/>
      <xs:enumeration value="CX"/>
      <xs:enumeration value="CC"/>
      <xs:enumeration value="CO"/>
      <xs:enumeration value="KM"/>
      <xs:enumeration value="CG"/>
      <xs:enumeration value="CD"/>

      <xs:enumeration value="CK"/>
      <xs:enumeration value="CR"/>
      <xs:enumeration value="CI"/>
      <xs:enumeration value="HR"/>
      <xs:enumeration value="CU"/>
      <xs:enumeration value="CY"/>
      <xs:enumeration value="CZ"/>
      <xs:enumeration value="DK"/>
      <xs:enumeration value="DJ"/>
      <xs:enumeration value="DM"/>

      <xs:enumeration value="DO"/>
      <xs:enumeration value="TP"/>
      <xs:enumeration value="EC"/>
      <xs:enumeration value="EG"/>
      <xs:enumeration value="SV"/>
      <xs:enumeration value="GQ"/>
      <xs:enumeration value="ER"/>
      <xs:enumeration value="EE"/>
      <xs:enumeration value="ET"/>
      <xs:enumeration value="FK"/>

      <xs:enumeration value="FO"/>
      <xs:enumeration value="FJ"/>
      <xs:enumeration value="FI"/>
      <xs:enumeration value="FR"/>
      <xs:enumeration value="FX"/>
      <xs:enumeration value="GF"/>
      <xs:enumeration value="PF"/>
      <xs:enumeration value="TF"/>
      <xs:enumeration value="GA"/>
      <xs:enumeration value="GM"/>

      <xs:enumeration value="GE"/>
      <xs:enumeration value="DE"/>
      <xs:enumeration value="GH"/>
      <xs:enumeration value="GI"/>
      <xs:enumeration value="GR"/>
      <xs:enumeration value="GL"/>
      <xs:enumeration value="GD"/>
      <xs:enumeration value="GP"/>
      <xs:enumeration value="GU"/>
      <xs:enumeration value="GT"/>

      <xs:enumeration value="GN"/>
      <xs:enumeration value="GW"/>
      <xs:enumeration value="GY"/>
      <xs:enumeration value="HT"/>
      <xs:enumeration value="HM"/>
      <xs:enumeration value="VA"/>
      <xs:enumeration value="HN"/>
      <xs:enumeration value="HK"/>
      <xs:enumeration value="HU"/>
      <xs:enumeration value="IS"/>

      <xs:enumeration value="IN"/>
      <xs:enumeration value="ID"/>
      <xs:enumeration value="IR"/>
      <xs:enumeration value="IQ"/>
      <xs:enumeration value="IE"/>
      <xs:enumeration value="IL"/>
      <xs:enumeration value="IT"/>
      <xs:enumeration value="JM"/>
      <xs:enumeration value="JP"/>
      <xs:enumeration value="JO"/>

      <xs:enumeration value="KZ"/>
      <xs:enumeration value="KE"/>
      <xs:enumeration value="KI"/>
      <xs:enumeration value="KP"/>
      <xs:enumeration value="KR"/>
      <xs:enumeration value="KW"/>
      <xs:enumeration value="KG"/>
      <xs:enumeration value="LA"/>
      <xs:enumeration value="LV"/>
      <xs:enumeration value="LB"/>

      <xs:enumeration value="LS"/>
      <xs:enumeration value="LR"/>
      <xs:enumeration value="LY"/>
      <xs:enumeration value="LI"/>
      <xs:enumeration value="LT"/>
      <xs:enumeration value="LU"/>
      <xs:enumeration value="MO"/>
      <xs:enumeration value="MK"/>
      <xs:enumeration value="MG"/>
      <xs:enumeration value="MW"/>

      <xs:enumeration value="MY"/>
      <xs:enumeration value="MV"/>
      <xs:enumeration value="ML"/>
      <xs:enumeration value="MT"/>
      <xs:enumeration value="MH"/>
      <xs:enumeration value="MQ"/>
      <xs:enumeration value="MR"/>
      <xs:enumeration value="MU"/>
      <xs:enumeration value="YT"/>
      <xs:enumeration value="MX"/>

      <xs:enumeration value="FM"/>
      <xs:enumeration value="MD"/>
      <xs:enumeration value="MC"/>
      <xs:enumeration value="MN"/>
      <xs:enumeration value="ME"/>
      <xs:enumeration value="MS"/>
      <xs:enumeration value="MA"/>
      <xs:enumeration value="MZ"/>
      <xs:enumeration value="MM"/>
      <xs:enumeration value="NA"/>

      <xs:enumeration value="NR"/>
      <xs:enumeration value="NP"/>
      <xs:enumeration value="NL"/>
      <xs:enumeration value="AN"/>
      <xs:enumeration value="NC"/>
      <xs:enumeration value="NZ"/>
      <xs:enumeration value="NI"/>
      <xs:enumeration value="NE"/>
      <xs:enumeration value="NG"/>
      <xs:enumeration value="NU"/>

      <xs:enumeration value="NF"/>
      <xs:enumeration value="MP"/>
      <xs:enumeration value="NO"/>
      <xs:enumeration value="OM"/>
      <xs:enumeration value="PK"/>
      <xs:enumeration value="PW"/>
      <xs:enumeration value="PA"/>
      <xs:enumeration value="PG"/>
      <xs:enumeration value="PY"/>
      <xs:enumeration value="PE"/>

      <xs:enumeration value="PH"/>
      <xs:enumeration value="PN"/>
      <xs:enumeration value="PL"/>
      <xs:enumeration value="PT"/>
      <xs:enumeration value="PR"/>
      <xs:enumeration value="QA"/>
      <xs:enumeration value="RE"/>
      <xs:enumeration value="RO"/>
      <xs:enumeration value="RU"/>
      <xs:enumeration value="RW"/>

      <xs:enumeration value="KN"/>
      <xs:enumeration value="LC"/>
      <xs:enumeration value="VC"/>
      <xs:enumeration value="WS"/>
      <xs:enumeration value="SM"/>
      <xs:enumeration value="ST"/>
      <xs:enumeration value="SA"/>
      <xs:enumeration value="SN"/>
      <xs:enumeration value="RS"/>
      <xs:enumeration value="SC"/>

      <xs:enumeration value="SL"/>
      <xs:enumeration value="SG"/>
      <xs:enumeration value="SK"/>
      <xs:enumeration value="SI"/>
      <xs:enumeration value="SB"/>
      <xs:enumeration value="SO"/>
      <xs:enumeration value="ZA"/>
      <xs:enumeration value="SS"/>
      <xs:enumeration value="GS"/>
      <xs:enumeration value="ES"/>

      <xs:enumeration value="LK"/>
      <xs:enumeration value="SH"/>
      <xs:enumeration value="PM"/>
      <xs:enumeration value="SD"/>
      <xs:enumeration value="SR"/>
      <xs:enumeration value="SJ"/>
      <xs:enumeration value="SZ"/>
      <xs:enumeration value="SE"/>
      <xs:enumeration value="CH"/>
      <xs:enumeration value="SY"/>

      <xs:enumeration value="TW"/>
      <xs:enumeration value="TJ"/>
      <xs:enumeration value="TZ"/>
      <xs:enumeration value="TH"/>
      <xs:enumeration value="TG"/>
      <xs:enumeration value="TK"/>
      <xs:enumeration value="TO"/>
      <xs:enumeration value="TT"/>
      <xs:enumeration value="TN"/>
      <xs:enumeration value="TR"/>

      <xs:enumeration value="TM"/>
      <xs:enumeration value="TC"/>
      <xs:enumeration value="TV"/>
      <xs:enumeration value="UG"/>
      <xs:enumeration value="UA"/>
      <xs:enumeration value="AE"/>
      <xs:enumeration value="GB"/>
      <xs:enumeration value="US"/>
      <xs:enumeration value="UM"/>
      <xs:enumeration value="UY"/>

      <xs:enumeration value="UZ"/>
      <xs:enumeration value="VU"/>
      <xs:enumeration value="VE"/>
      <xs:enumeration value="VN"/>
      <xs:enumeration value="VG"/>
      <xs:enumeration value="VI"/>
      <xs:enumeration value="WF"/>
      <xs:enumeration value="EH"/>
      <xs:enumeration value="YE"/>
      <xs:enumeration value="ZM"/>
      <xs:enumeration value="ZW"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Shipping">
    <xs:sequence>
      <xs:element name="ShippingTypes" type="ShippingTypeRefCollection" minOccurs="1" maxOccurs="1"/>
      <xs:element name="ShippingDimensions" type="Dimensions" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ShippingTypeRefCollection">
    <xs:sequence>
      <xs:element name="ShippingType" type="ShippingTypeRef" minOccurs="1" maxOccurs ="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ShippingTypeRef">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute ref="id" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="EAN13">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{13}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Dimensions">
    <xs:sequence>
      <xs:element name="Width" type="LengthInCM"/>
      <xs:element name="Length" type="LengthInCM"/>
      <xs:element name="Height" type="LengthInCM"/>
      <xs:element name="Volume" type="VolumeInCM3"/>
      <xs:element name="Weight" type="WeightInKG"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="LengthInCM">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  
  <xs:simpleType name="WeightInKG">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  
  <xs:simpleType name="VolumeInCM3">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element name="Variants" type="VariantCollection" minOccurs="0" maxOccurs="1"/>
      <xs:element name="VariantImages" type="VariantImageCollection" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Tags" type="TagRefCollection" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Flags" type="FlagRefCollection" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Attributes" type="AttributeValueCollection" minOccurs="0" maxOccurs="1"/>
      <xs:element name="SellingPoints" type="SellingPointRefCollection" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Images" type="ImageRefCollection" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute ref="id" use="required"/>
  </xs:complexType>

  <xs:complexType name="TagRefCollection">
    <xs:sequence>
      <xs:element name="Tag" type="Ref" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FlagRefCollection">
    <xs:sequence>
      <xs:element name="Flag" type="Ref" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AttributeValueCollection">
    <xs:sequence>
      <xs:element name="Attribute" type="AttributeValueRef" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AttributeValueRef">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute ref="id" use="required"/>
        <xs:attribute name="value_id" type="id" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SellingPointRefCollection">
    <xs:sequence>
      <xs:element name="SellingPoint" type="Ref" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ImageRefCollection">
    <xs:sequence>
      <xs:element name="Image" type="Ref" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VariantImageCollection">
    <xs:sequence>
      <xs:element name="VariantImage" type="VariantImage" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Ref">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute ref="id" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VariantImage">
    <xs:sequence>
      <xs:element name="Image" type="Ref"/>
    </xs:sequence>
    <xs:attribute ref="id" use="required"/>
    <xs:attribute name="value_id" type="id" use="required"/>
  </xs:complexType>

  <xs:complexType name="VariantCollection">
    <xs:sequence>
      <xs:element name="Variant" type="Variant" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Variant">
    <xs:sequence>
      <xs:element name="VariationValues" type="VariationValueCollection" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute ref="id" use="required"/>
  </xs:complexType>

  <xs:complexType name="VariationValueCollection">
    <xs:sequence>
      <xs:element name="VariationValue" type="VariationValue" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VariationValue">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute ref="id" use="required"/>
        <xs:attribute name="value_id" use="required" type="id"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Catalog" type="Catalog"/>
  <xs:element name="PriceList" type="PriceList"/>
  <xs:element name="Inventory" type="Inventory"/>
</xs:schema>
